<!DOCTYPE html>
<html>
  <head>
    <title>Início - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>
      <p>Front-end API de carros de Júlia Onora</p>
    </h2>
    
    <h3>
      <a href="/cars">Ver carros</a>
      <a href="/new">Cadastrar carro</a>
    </h3>

    
  </body>
</html>
